@import "tailwindcss";

body {
    overflow-x: hidden;
    background-color: black;
}

.stroke-white {
    -webkit-text-stroke: 1px white;
}

@layer components {
    .header {
        @apply px-30 py-10 bg-transparent text-white z-50 fixed inset-x-0;
    }
     
    .header-button {
        @apply px-6 py-2 bg-transparent border-2 border-green-700 text-white rounded-full hover:bg-black hover:text-white transition-all duration-300;
    }
   .hero-overlay{
    @apply absolute inset-0 bg-linear-to-b from-transparent via-black/20 to-black;
}
    .hero-text {
        @apply relative text-white text-[180px] font-bold;
    }
    .hero-text-span {
        @apply absolute -top-1 -left-1 -z-10 text-black [text-shadow:1px_1px_0_#fff];
    }
}